h1 {
    color:rgb(235, 15, 216);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    text-align: center;
    display: inline-block;
    background-color:rgb(208, 235, 8);
    border:5px dotted rgb(26, 33, 213);
    padding:50px;
    }
    .image2 {                    
        width: 10%;
        height: 10%;
        display: inline-block;
        margin-inline-start: 180px;
    }
    .image1 {
        width: 10%;
        height: 10%;
        display: inline-block;
        margin-inline-end: 280px;
    }

    p {
        color: rgb(244, 20, 244);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        .center-text {text-align: center;}
        font-size: 50px;
        margin-left:450px; margin-right:450px;
        .bordered-text 
        {border: 5px solid white (9,9,9);
            padding: 10px;}
    }
        
 body {
         background-image: url(spongebob_jellyfish_fields_by_supermariospongebob_d9vnqtk-fullview.jpg);
         background-size: cover; 
         background-position: center;
         background-repeat: no-repeat; 
             }
h2 {  color: blueviolet;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left:450px; margin-right:450px;
     }
    
 h3 { color: rgb(246, 11, 219);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    text-align: center;
    text-decoration: wavy;
    background-color:rgb(221, 248, 15);
    border:5px dotted rgb(26, 33, 213);
    padding:50px;
         }

       video { margin-left: 350px; margin-right: 350px;
       }
                img {
                    width:70%;
                    height:20%;
                    margin-left:220px; margin-right:220px;
                    }
                img {
                    width:70%;
                    height:20%;
                    margin-left:220px; margin-right:220px;}
                    