h1 {
    color:rgb(202, 38, 238);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    text-align: center;
    background-color:rgb(22, 244, 74);
    border:5px dotted rgb(42, 10, 225);
    padding:50px;
    }
    .image1 {
        width: 10%;
        height: 10%;
        margin-right: 2px;  
    }


    body {
            background-image: url(spongebob_jellyfish_fields_by_supermariospongebob_d9vnqtk-fullview.jpg);
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat; 
                }
    .image2 {border: 5px solid rgb(238, 7, 161);
            width:70%;
            height:20%;
            margin-left:220px; margin-right:220px;}

    .image3 {
        width:20%;
        height:20%;
        margin-left:600px; margin-right:600px;}
    h2 {
        color: rgb(244, 12, 217);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 50px;
        text-align: center;
        text-decoration-thickness: 10px;
    }