h1 {
    color:blue;
    font-family:helvetica;
    }
    p {
        color:pink;
        }
        
        h3 {
        color:blue;
        }
        body {
            background-color:rgb(14, 14, 11);
            }
            img {
                border: 5px solid rgb(13, 78, 34);
                }
                